.sliderSpan {
	font-weight: bold;
	color: #F6A828;
}

.configItem, .buttons {
	margin:10px 10px 10px 10px; 
}

.content, .content-source {
    display: none;
    font-size:30px;
}
.wsContentPanel {
	font-size:1.25em;
}

.wsContentWrapper {
	height: auto;
	min-height:100px;
	min-width:100px;
	width:auto;
	padding:10px, 10px, 10px, 10px;
	margin:10px, 10px, 10px, 10px;
	border:1px solid #dddddd;
	text-align:center;
	vertical-align:middle;
	line-height: 100px;
}

.feedSelectDiv, .feedPostDiv {
	margin:10px 10px 10px 0px; 
}