.sliderSpan {
	font-weight: bold;
	color: #F6A828;
}

.configItem,.buttons {
	margin: 10px 10px 10px 10px;
}

.content,.content-source {
	display: none;
}

.wsContentPanel {
	font-size: 2em;
}

.wsContentWrapper {
	height: auto;
	min-height: 100px;
	min-width: 100px;
	width: auto;
	padding: 10px, 10px, 10px, 10px;
	margin: 10px, 10px, 10px, 10px;
	border: 1px solid #dddddd;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
}

.wsContentHeader {
	padding: 10px, 10px, 10px, 10px;
	text-align: center;
	font-weight: bold;
}

.settings-header {
	padding: 0px 10px;
	margin: 10px 10px;
}
.settings-section {
	border: 2px solid #dddddd;
	padding: 0px 10px;
	margin: 10px 10px;
}

.settings-section div{
  overflow:hidden;
}

.settings-section div label {
  width:90px;
  display:block;
  float:left;
  text-align:left;
}

.settings-section div select{
  margin-left:4px;
  float:left;
}

.settings-section .preview {
  border: 1px solid #dddddd;
  max-width:450px;
  margin: 10px 10px;
  padding: 0px 10px;
}
.feedSelectDiv,.feedPostDiv {
	margin: 10px 10px 10px 0px;
}

#userFeedInputDiv {
	padding-bottom:5px;	
}
#toolbar-wrapper .child {
	margin: 10px auto;
	width: 150px;
}

#toolbar {
	margin: 0px auto;
	padding: 4px;
	display: inline-block;
}
/* support: IE7 */
*+html #toolbar {
	display: inline;
}
#status{
	min-height:20px;
	margin: 10px 10px;	
	padding: 0px 10px;
}